In [1]:
import pandas as pd

In [2]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 46C9-A35B

 Directory of c:\Users\hpute\Desktop\docket_practice

30/01/2024  01:21 AM    <DIR>          .
30/01/2024  01:21 AM    <DIR>          ..
30/01/2024  12:10 AM               957 d
30/01/2024  01:21 AM            21,049 data_pipeline.ipynb
29/01/2024  09:53 PM               112 Dockerfile
14/07/2022  05:26 PM         7,854,533 green_tripdata_2019-09.csv.gz
30/01/2024  12:11 AM    <DIR>          ny_taxi_postgres_data
29/01/2024  09:54 PM                56 pipeline.py
17/08/2016  10:57 PM            12,322 taxi+_zone_lookup.csv
30/01/2024  12:05 AM            20,969 Untitled.ipynb
               7 File(s)      7,909,998 bytes
               3 Dir(s)  160,288,071,680 bytes free

In [3]:
df_trip_data = pd.read_csv('green_tripdata_2019-09.csv.gz', compression= 'gzip', low_memory= False)
df_zone = pd.read_csv('taxi+_zone_lookup.csv')

In [4]:
df_trip_data.head(2)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.0,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.2,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0

In [5]:
df_zone.head(5)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [6]:
print(df_trip_data.count(), df_zone.count())

VendorID                 389920
lpep_pickup_datetime     449063
lpep_dropoff_datetime    449063
store_and_fwd_flag       389920
RatecodeID               389920
PULocationID             449063
DOLocationID             449063
passenger_count          389920
trip_distance            449063
fare_amount              449063
extra                    449063
mta_tax                  449063
tip_amount               449063
tolls_amount             449063
ehail_fee                     0
improvement_surcharge    449063
total_amount             449063
payment_type             389920
trip_type                389920
congestion_surcharge     389920
dtype: int64 LocationID      265
Borough         265
Zone            264
service_zone    263
dtype: int64

In [7]:
from sqlalchemy import create_engine

In [23]:
engine = create_engine('postgresql://root:root@localhost:5431/ny_taxi')
engine.connect()

In [9]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz', compression='gzip', low_memory=False, iterator = True, chunksize=100000)

In [ ]:
from time import time

while True:
    t_start = time()
    df = next(df_iter)
    
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(con=engine, name = 'green_taxi_data', if_exists = 'append')
    
    t_end = time()
    print("inserted another chunk ..., took %.3f second" % (t_end - t_start))

In [11]:
print(pd.io.sql.get_schema(df, name = 'green_taxi_data', con = engine))

CREATE TABLE green_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag FLOAT(53),
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [12]:
df_zone.to_sql(con=engine, name = 'tzone', if_exists = 'replace')

265

In [33]:
print(pd.io.sql.get_schema(df_zone, name = 'tzone', con = engine))

CREATE TABLE tzone (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [41]:
%load_ext sql
%sql postgresql://root:root@localhost:5431/ny_taxi

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### QUESTION 3

In [143]:
%%sql

SELECT count(*) as count_records
FROM green_taxi_data 
WHERE date(lpep_pickup_datetime) = '2019-09-18' and date(lpep_dropoff_datetime) = '2019-09-18';

 * postgresql://root:***@localhost:5431/ny_taxi
1 rows affected.

[(15612,)]

### QUESTION 4

In [142]:
%%sql

SELECT date(lpep_pickup_datetime) as pickup_date,MAX(trip_distance) as max_tip
FROM green_taxi_data 
GROUP BY date(lpep_pickup_datetime) 
ORDER BY max_tip DESC 
LIMIT 1

 * postgresql://root:***@localhost:5431/ny_taxi
1 rows affected.

[(datetime.date(2019, 9, 26), 341.64)]

### QUESTION 5

In [157]:
%%sql 

SELECT "Borough" as Borough, SUM(total_amount)
FROM green_taxi_data as gtd
INNER JOIN tzone
ON tzone."LocationID" = gtd."PULocationID"
WHERE date(lpep_pickup_datetime) = '2019-09-18'
GROUP BY Borough
HAVING SUM(total_amount)> 50000
ORDER BY SUM(total_amount) DESC;

 * postgresql://root:***@localhost:5431/ny_taxi
3 rows affected.

[('Brooklyn', 96333.23999999969),
 ('Manhattan', 92271.29999999849),
 ('Queens', 78671.70999999887)]

### QUESTION 6

In [135]:
%%sql

SELECT zdo."Zone", MAX(tip_amount) as ta
FROM green_taxi_data as gtd
INNER JOIN tzone zdo
ON zdo."LocationID" = gtd."DOLocationID"
INNER JOIN tzone zpu
ON zpu."LocationID" = gtd."PULocationID"
WHERE zpu."Zone" = 'Astoria' AND date_part('month', lpep_pickup_datetime) = 9
GROUP BY zdo."Zone"
ORDER BY ta DESC
LIMIT 5;

 * postgresql://root:***@localhost:5431/ny_taxi
5 rows affected.

[('JFK Airport', 62.31),
 ('Woodside', 30.0),
 ('Kips Bay', 28.0),
 ('NV', 25.0),
 ('Astoria', 20.0)]